@charset "UTF-8";
/*

  “ I’ve been interested in coding for a while but never taken the jump, until now. 
  I couldn’t recommend this course enough. I’m now in the job of my dreams and so 
  excited about the future. ”

  Tanya Sinclair
  UX Engineer

  “ If you want to lay the best foundation possible I’d recommend taking this course. 
  The depth the instructors go into is incredible. I now feel so confident about 
  starting up as a professional developer. ”

  John Tarkpor
  Junior Front-end Developer
*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.container {
  overflow: hidden;
  width: 100rem;
  height: 55rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.slide {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
  max-width: 120rem;
  display: flex;
  align-items: center;
  position: relative; }
  .slide::before {
    content: url(../images/pattern-curve.svg);
    position: absolute;
    bottom: 0; }
  .slide__text {
    position: relative;
    left: 7rem;
    top: 1rem; }
    .slide__text::before {
      content: url(../images/pattern-quotes.svg);
      position: absolute;
      margin-top: -5rem;
      margin-left: 7rem; }
    .slide__text p {
      font-size: 3rem;
      color: #202046; }
    .slide__text h4 {
      font-size: 2rem;
      margin-top: 3rem;
      color: #202046; }
    .slide__text span {
      font-size: 1.5rem;
      font-weight: 300;
      margin-left: 1rem;
      color: #babacf; }
  .slide__image img {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin-top: 2rem;
    box-shadow: -0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .slide__image .btn {
    display: flex;
    color: #babacf;
    border-radius: 5rem;
    position: absolute;
    bottom: 5rem;
    right: 40rem;
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0.5rem -0.5rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 10; }
    .slide__image .btn__right {
      padding-right: 3rem;
      cursor: pointer; }
    .slide__image .btn__left {
      cursor: pointer; }
